body {
    box-sizing: border-box;
  }

  .parent {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 20px;
    border: 1px dotted black;
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .item.red {
    width: 150px;
    height: 150px;
    background-color: red;
    transform: translateX(-20px);
    transition-property: background-color 1s, color 1s transform: 1s;
    /* transition-property: background-color;
        transition-duration: 1s; */
  }

  .item.red:hover {
    transform: translateX(0);
    background-color: pink;
    color: black;
  }

  .item.green {
    width: 100px;
    height: 100px;
    background-color: green;
    /* transform: rotate(90deg); */
    animation: spin 1s infinite linear;
    /* animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; */
  }

  .item.green:hover {
    animation-play-state: paused;
  }

  @keyframes spin {
    0% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .item.blue {
    width: 50px;
    height: 50px;
    background-color: blue;
    transform: scale(0.5);
    animation-name: spiner;
    animation-duration: 1s;
    animation-delay: 5s;
  }

  @keyframes spiner {
    0% {
      transform: rotate(0);
      background-color: orange;
    }

    50% {
      transform: rotate(10deg);
      background-color: yellow;
    }

    100% {
      transform: rotate(360deg);
      background-color: orange;
    }
  }

  .item.orange {
    opacity: 1;
    width: 150px;
    height: 150px;
    background-color: orange;
    transform: skew(20deg, 20deg);
  }

  .item.orange:hover {
    opacity: 0;
  }

  /* Load */
.load-container {
 padding: 50px;
}

.load {
  width: 100px;
  height: 100px;
  border: 8px solid;
  border-radius: 50%;
  border-color: #fff #000;
  animation: animate 2s linear infinite;
}

@keyframes animate {
  to {
    transform: rotate(360deg);
  }
}

.container {
  padding: 50px;
}

.circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  transition-duration: 1s;
  background-color: gold;
  position: relative;
  animation-name: circle;
  animation-duration: 10s;
}

.circle:hover {
  /* background-color: green; */
  transform: rotate(360deg);
  transform: scale(1.5);
  background-color: purple;
}

@keyframes circle {
  0% {
    left: 0;
  }


  100% {
      left: 1000px;
      background-color: plum;
    }
}