      /* Base */
      * {
        box-sizing: border-box;
      }

      body {
        color: #3d3d3d;
        font-size: 14px;
        font-weight: 400;
        font-family: "Cera Pro", sans-serif;
        margin: 0;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        margin-top: 0;
      }

      .container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 24px;
      }

      .hero-section {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: #f5f5f580;
      }

      /* Button */
      .button {
        color: #ffffff;
        background-color: #46a358;
        border: 0;
        border-radius: 6px;
        font-size: 16px;
        font-weight: 500;
        padding: 7px 17px;
        display: flex;
        align-items: center;
        column-gap: 4px;
      }

      .button-title {
        color: #ffffff;
        background-color: #46a358;
        border: 0;
        border-radius: 6px;
        font-size: 16px;
        font-weight: 700;
        padding: 11px 27px 9px 26px;
      }

      /* Header */
      .header-container {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
      }

      .header-nav {
        display: flex;
        align-items: center;
        flex-grow: 1;
      }

      .header-menu {
        display: flex;
        gap: 50px;
        flex-grow: 1;
        justify-content: center;
      }

      header {
        border-bottom: 0.3px solid #46a35880;
      }

      /* Link */

      .inner-header-menu {
        display: none;
        position: absolute;
        background-color: #edf6ee;
        /* top: 37px; */
      }

      .link-item {
        position: relative;
      }

      .link-item:hover .inner-header-menu {
        display: flex;
        flex-direction: column;
      }

      .link {
        display: block;
        text-decoration: none;
        color: #3d3d3d;
        font-size: 16px;
      }

      .link:hover {
        font-size: 16px;
        font-weight: 700;
        /* border-bottom: 3px solid #46a358; */
      }

      .inner-link {
        display: block;
        text-decoration: none;
        color: #3d3d3d;
        font-size: 16px;
        padding: 7px 104px 8px 14px;
      }

      .inner-link:hover {
        font-size: 16px;
        font-weight: 700;
      }

      /* Text */
      .hero-box {
        padding: 24px;
      }

      .hero-title {
        margin-bottom: 5px;
        font-size: 70px;
        font-weight: 900;
        text-transform: uppercase;
      }

      .text-title-top {
        margin-bottom: 7px;
        font-weight: 500;
        text-transform: uppercase;
      }

      .text-title-bottom {
        margin-bottom: 44px;
        color: #727272;
      }

      .accent {
        color: #46a358;
      }

      /* Vector */
      .icon-list {
        display: flex;
        align-items: center;
        position: absolute;
        /* top: 33px; */
        right: 309px;
        gap: 30px;
      }

      /* .box-logo {
        position: relative;
        left: 300px;
      } */

      .logo-two {
        position: absolute;
        right: 500px;
        top: 357px;
      }