body {
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  color: #3d3d3d;
}

.container {
  width: 100%;
  max-width: 840px;
  margin: 0 auto;
}

/* Box first */
.box-first {
  margin-bottom: 31px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-one {
  display: flex;
  gap: 38px;
}

.link {
  color: #3d3d3d;
  font-size: 15px;
  text-decoration: none;
}

.link:hover {
  font-size: 15px;
  font-weight: 700;
  color: #46a358;
  text-decoration: underline;
}

.nav-two {
  font-size: 15px;
  display: flex;
  gap: 8px;
}

/* Box second */
.box-second {
}

.box-card {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  gap: 33px;
}

.card-img {
  position: relative;
  border-top: 1px solid #46a358;
}

.img-background {
  margin-bottom: 12px;
}

.img-plant {
  position: absolute;
  padding: 25px 4px;
  left: 0;
}

.card-title {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 6px;
}

.card-price {
  font-size: 18px;
  font-weight: 700;
  color: #46a358;
}

.sale {
  display: flex;
  gap: 16px;
}

.card-price-sale {
  font-size: 18px;
  font-weight: 400;
  color: #cbcbcb;
  text-decoration: line-through;
}

/* Icon */
.icon-list {
  position: absolute;
  display: flex;
  bottom: 19px;
  left: 67px;
  gap: 26px;
}

.icon-frame {
  position: absolute;
  top: 14px;
}

 